// colors
$mainBcolor: #1b2838;
$white: #fff;
$lgray: #8f98a0;
$gray: #acb2b8;
$bgColDb: rgba(0, 0, 0, 0.2);
$whiten: #c6d4dfff;
$lblue: #67c1f5;
$newwhite: #c6d4df;
$skyblue: #7cb8e4;
$black: #000000;
$lgreen: #a4d007;
$green: #4c6b22;
$skblue2: #acdbf5;
$dgray: #626366;
$gwhite: #d2efa9;
$lgreen2: #8ed629;
$bblue: #202d39;
$backgroundB: rgba(0, 0, 0, 0.2);
$hoverblack: rgba(0, 0, 0, 0.4);
$greenyel: #6fa720;
$mgray: #9099a1;
$grwhite: #c7d5e0;
$blueGame: #53a1df;
$graydblue: #384959;
$stabblue: #4f94bc;
$activeStabgreen: #214b6b;
$cardGradient: linear-gradient(
  to right,
  rgba(0, 0, 0, 0.2) 0%,
  rgba(0, 0, 0, 0.5) 100%
);
$gamePurchase: linear-gradient(
  -60deg,
  rgba(226, 244, 255, 0.3) 5%,
  rgba(84, 107, 115, 0.3) 95%
);
$greeNlinearB: linear-gradient(to bottom, #8ed629 5%, #6aa621 95%);
$greenLinearR: linear-gradient(to right, #8ed629 5%, #6aa621 95%);
$cardlinearB: linear-gradient(to bottom, #6fa720 5%, #588a1b 95%);
$cardLinearR: linear-gradient(to right, #75b022 5%, #588a1b 95%);
$lightBlueBack: rgba(0, 0, 0, 0.3);
$blackithOp: rgba(0, 0, 0, 0.25);
